.btn {
  width: 100%;
  margin: 7px 0 0 0;
}

.wrapper {
  background: url('https://b.radikal.ru/b25/1910/a8/b93be7020bea.jpg');
}

.cardB {
  display: flex;
}

.card-action {
  margin: 15px 0 0 0;
}

.nav-wrapper {
  padding: 0 25px;
}

.filmCategory {
  background: white;
  padding: 10px 45px;
  margin: 8px 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 1);
}

.filmCategoryTitle {
  font-weight: 800;
}

.topBlock {
  background: #333842;
  padding: 10px 25px 0;
  border-bottom: 5px solid #212121;
  margin-bottom: 20px;
}

.footer {
  background: #212121;
  padding: 20px 0;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  margin: 0 10px;
  color: crimson;
}

.listWrapper {
  background: #333842;
  border-top: 3px solid #212121;
  padding: 20px 0;
}

.topTitle {
  padding: 5px 10px;
  color: #21252b;
  text-align: center;
}
